<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <!-- 配置事务管理器 -->
            <transactionManager type="JDBC"/>
            <!-- 配置数据源 -->
            <dataSource type="POOLED">
                <!-- 配置驱动 -->
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <!-- 配置连接mysql-url
                 1.jdbc.mysql 协议
                 2.127.0.0.1:3306 指定连接的mysql的ip + port
                 3.mybatis 表示连接的db
                 4.useSSL=true 表示使用安全连接，默认是不使用的即false
                 5.&amp; 表示&，防止解析错误
                 6.useUnicode 表示使用unicode，作用是防止编码错误
                 7.characterEncoding=UTF-8 指定使用utf-8，防止中文乱码
                 -->
                <property name="url" value="jdbc:mysql://127.0.0.1:3306/mybatis/useSSL=true&amp;useUnicode=true&amp;characterEncoding=UTF-8"/>
                <!-- 用户名 -->
                <property name="username" value="root"/>
                <property name="password" value=""/>
            </dataSource>
        </environment>
    </environments>
    <!--
     1.在这里我们配置需要关联的Mapper.xml
     2.这里可以copy path from Source Root来获取路径
     -->
    <mappers>
        <mapper resource="com/gaoxi/mapper/MonsterMapper.xml"/>
    </mappers>
</configuration>
